{{!-- 
======================================================
Assignment 2 - Responsive, Handlebars, Forms Processing and Email
Course:			WEB 322
Author:			David Ly
Email:			dly11@myseneca.ca
Date:			  2020-10-28
====================================================== 
--}}
<main role="main">
  <!-- Main jumbotron  -->
  <div class="container pt-5 mt-3">
    <h3 class="display-5">{{room.title}}</h3>
    <div class="row mb-3">
      <div class="col-auto mr-auto">
        {{!-- <span class="font-weight-light" style="color: teal;">★</span> 4.96 <span class="font-weight-light"
          style="color: grey;">(210) ·  --}} 🥇 Superhost · {{room.location}}, Canada</span>
      </div>
      <div class="col-auto">
        {{!-- <button type="button" class="btn btn-outline-info border-0  p-1 "> &nbsp;<span
            class="fas fa-share"></span>&nbsp;Share&nbsp; </button>
        <button type="button" class="btn btn-outline-danger border-0  p-1 " data-toggle="button" aria-pressed="false">
          &nbsp;♡&nbsp;Save&nbsp; </button> --}}
      </div>
    </div>
  </div>
  <!-- ========== GALLERY PICS ========== -->
  <div class="container ">
    <div class="row  justify-content-center ">
      <div class="col-md-6 ">
        <img class="img-fluid " src="/photos/{{room.photoFileNames.[0]}}" alt="" />
      </div>
      <div class="col-md-6 ">
        <div class="row row-cols-2">
          <div class="col p-1">
            <img class="img-fluid " src="/photos/{{room.photoFileNames.[1]}}" alt="" />
          </div>
          <div class="col p-1">
            <img class="img-fluid " src="/photos/{{room.photoFileNames.[2]}}" alt="" />
          </div>
          <div class="col p-1">
            <img class="img-fluid " src="/photos/{{room.photoFileNames.[3]}}" alt="" />
          </div>
          <div class="col p-1">
            <img class="img-fluid " src="/photos/{{room.photoFileNames.[4]}}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========== LISTING DETAILS ========== -->
  <!-- ========== LISTING DETAILS - HEADER ========== -->
  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-md-10">
                <div class="row p-1">
                  {{!-- <h4 class="display-5">{{room.description}}</h4> --}}
                </div>
                <div class="row p-1">
                  <span class="font-weight-light">{{room.guestsNum}} guest(s) · {{room.bedroomsNum}} bedroom(s) ·
                    {{room.bedsNum}} bed(s) · {{room.bathsNum}} bath(s)</span>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col p-1">
                    {{!-- <img class="card mw-100 rounded" style="max-height: 66px;" src="images/original.webp" alt="" />
                    <div class="card-img-overlay p-3">
                      <span class=" float-right ">🥇</span>
                    </div> --}}
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row p-1 pt-4 pb-4">
              <ul class="list-group">
                <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Description </span>
                  <p> {{{room.description}}} </p>
                </li>
              </ul>
            </div>
            <div class="row p-1 pt-4 pb-4">
              <ul class="list-group">
                <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Details </span>
                  <p> {{{room.details}}} </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 mw-100">
        <div class="row border border-info rounded ml-3 mb-3 mr-3 pt-5">
          <div class="col ">
            <div class="row d-flex justify-content-center">
              <h4 class="display-5"> ${{room.price}} /night</h4>
            </div>
            <!-- ========== BOOK NOW FORM ========== -->
            <!-- ========== BOOK NOW FORM https://httpbin.org/post  action="/book-now" ========== -->
            <form class="form-group" action="/book-now" method="POST" id="reserveForm">
              <div class="form-group  ">
                <div class="row d-flex justify-content-center">
                  <input type="hidden" id='rf-id' name="roomID" value="{{room._id}}" />
                  <input type="hidden" id='rf-price' name="price" value="{{room.price}}" />
                  <label for="rf-checkIn"><small>CHECK-IN</small>
                    <input type="date" class="form-control form-control-sm p-1" id="rf-checkIn" name="checkIn" required>
                  </label>
                  <label for="rf-checkOut"><small>CHECK-OUT</small>
                    <input type="date" class="form-control form-control-sm p-1" id="rf-checkOut" name="checkOut"
                      required>
                  </label>
                </div>
              </div>
              <div class="form-group ">
                <div class="row d-flex justify-content-center">
                  <label class="col-md-9" for="rf-guestsNo"><small>GUESTS</small>
                    <input class="form-control form-control-sm" id="rf-guestsAmount" name="guestsAmount" type="number"
                      min="0" max="{{room.guestsNum}}" value="0">
                  </label>
                </div>
              </div>
              <div class="form-group  ">
                <div class="row d-flex justify-content-center">
                  {{#if user}}
                    <button class="btn btn-info col-md-8 m-1" type="submit">Book This</button>
                    {{!-- <a class="btn btn-info col-md-8 m-1" href="/book-now" role="button">Book Now</a> --}}
                  {{else}}
                    <a class="btn btn-secondary" href="/">Sign-Up / Sign-In first</a>
                  {{/if}}
                </div>
              </div>
            </form>
            <!-- ========== BOOK NOW FORM ========== -->
            <!-- ========== BOOK NOW FORM ========== -->
            <small class="row d-flex justify-content-center pb-3">You won't be charged yet</small>
            <div class="row d-flex justify-content-center">
              {{!-- <table class="table col-md-8">
                <tbody>
                  <tr>
                    <th scope="row">${{room.price}} x <span id="rf-daysDisplay"></span> nights </th>
                    <td class="text-right"> <span id="rf-priceXnights"></span> </td>
                  </tr>
                  <tr>
                    <th scope="row"> <span id="rf-guestsDisplay"></span> x $<span id="rf-guestsFee"></span> guest charge
                    </th>
                    <td class="text-right"> <span id="rf-guestsXcharge"></span> </td>
                  </tr>
                  <tr>
                    <th scope="row">Total</th>
                    <td class="font-weight-bold text-right"> <span id="rf-totalDisplay"></span> </td>
                  </tr>
                </tbody>
              </table> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- <script>
    var price = document.getElementById('rf-price')
    var startDate = document.getElementById('rf-checkIn')
    var endDate = document.getElementById('rf-checkOut');
    var guestsNum = document.getElementById('rf-guestsNo');

    var daysDisplay = document.getElementById('rf-daysDisplay');
    var priceXnights = document.getElementById('rf-priceXnights');

    var guestsDisplay = document.getElementById('rf-guestsDisplay');
    var guestsFee = document.getElementById('rf-guestsFee');
    var guestsXcharge = document.getElementById('rf-guestsXcharge');

    var totalDisplay = document.getElementById('rf-totalDisplay');

    var date1 = new Date(startDate.value);
    var date2 = new Date(endDate.value);
    var timeDiff = Math.abs(date2.getTime() - date1.getTime());
    var daysDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));

    function calculate()
    {
      daysDisplay.innerText = daysDiff;
      priceXnights.innerText = Math.round((price.value * daysDiff) * 100) / 100;

      guestsDisplay.innerText = guestsNum.value;
      guestsFee.innerText = 20;
      guestsXcharge.innerText = Math.round((guestsNum.value * 20) * 100) / 100;

      totalDisplay.innerText = Math.round(((price.value * daysDiff) + (guestsNum.value * 20)) * 100) / 100;

      // round with 2 decimal places
      // Math.round(tax * 100) / 100;
    }

    startDate.addEventListener('input', calculate);
    endDate.addEventListener('input', calculate);
    guests.addEventListener('input', calculate);
  </script> --}}
  <!-- /main container -->
</main>
