{{!-- 
======================================================
Assignment 2 - Responsive, Handlebars, Forms Processing and Email
Course:			WEB 322
Author:			David Ly
Email:			dly11@myseneca.ca
Date:			  2020-10-28
====================================================== 
--}}
<main role="main">
  <!-- ========== CONFIRM AND PAY main ========== -->
  <div class="container mt-5 pl-5">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-md-10">
                <div class="row">
                  <h4 class="display-4">Confirm and pay</h4>
                </div>
              </div>
            </div>
            <div class="mr-3">
              <hr />
            </div>
            <div class="row mt-4 pb-4 ">
              <h4 class="display-5 mb-4">Your trip</h4>
              <ul class="list-group mr-3 container-fluid">
                <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Dates </span><br>
                  {{startDate}} – {{endDate}}<br>
                </li>
                <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Guests </span><br>
                  {{guestsAmount}} guest(s) <br>
                </li>
              </ul>
            </div>
            <div class="row mt-4 pb-4 ">
              <h4 class="display-5 mb-4">Pay with</h4>
              <ul class="list-group mr-3 container-fluid">
                <li class="list-group-item bg-transparent"><span class="font-weight-bold"> Credit Card - on
                    file:</span><br> XXXX-XXXX-XXXX-1234<br>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5  p-0">
        <div class="row border border-info rounded  mb-3 mr-4 p-5">
          <div class="col p-0">
            <div class="row d-flex justify-content-center p-0">
              <div class="row d-flex justify-content-center mt-2">
                <div class="card bg-transparent border-0" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="/photos/{{room.photoFileNames.[0]}}" class="card-img mt-3" alt="">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body small ">
                        <h6 class="card-subtitle mb-2 text-muted font-weight-light "> {{room.propertyType}} ·
                          {{room.location}} </h6>
                        <h5 class="card-title font-weight-light "> {{room.title}} </h5>
                        <h6 class="card-subtitle mb-2 text-muted font-weight-light "> {{room.bedsNum}} bed(s) ·
                          {{room.bathsNum}} bath(s) </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table col-md-8">
                <tbody>
                  <tr>
                    <th scope="row">${{room.price}} x {{daysDiff}} nights</th>
                    <td class="text-right">${{roomCharge}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Guest fee ($20 per guest)</th>
                    <td class="text-right">${{guestCharge}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Total <span class="small">(CAD)</span></th>
                    <td class="font-weight-bold text-right ">${{amountPaid}}</td>
                  </tr>
                </tbody>
              </table>
              <a class="btn btn-info " href="/book-now/confirmed">Book Room Now</a>
              <!-- Modal -->
              <div class="modal fade" id="staticPayConfirmed" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="staticPayConfirmed" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content bg-light">
                    <div class="modal-header border-0">
                      <h5 class="modal-title" id="staticBackdropLabel">Payment successful</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center"> Thank you - we hope you enjoy your BnB stay! We also emailed
                      you a copy. </div>
                    <div class="modal-footer border-0">
                      <button type="button" class="btn btn-outline-success" data-dismiss="modal">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /main container -->
</main>
